{% load static %}
<div class="card">
	{% if item.image %}
		<a href="{% url 'catalog:item' item.id %}">
			<img src="{{ item.image.url }}" alt="item-img" class="item-img">
		</a>
	{% endif %}
	<div class="item-info">
		<div class="favorites">
			<p class="price">{{ item.price }}₽</p>
			<svg id="heart" class="heart" onclick="rate('heart', 1)" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#000000"><path d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"/></svg>
		</div>
		<p class="name">{{ item.name }}</p>
		<div class="stars">
			<img src="{% static '/imgs/catalog/star.svg' %}" class="star">
			<img src="{% static '/imgs/catalog/star.svg' %}" class="star">
			<img src="{% static '/imgs/catalog/star.svg' %}" class="star">
			<img src="{% static '/imgs/catalog/star.svg' %}" class="star">
			<img src="{% static '/imgs/catalog/star.svg' %}" class="star">
		</div>
		<div class="buy-item">
			<div class="count-item" style="display:none"  data-id_of_count="{{ item.id }}.plus_minus_div">
				<button class="input update-cart" data-type_of_button="plus_minus" data-id_of_count="{{ item.id }}.minus" data-action="remove" data-product="{{ item.id }}" type="button" value="-">-</button>
				<button class="input" data-id_of_count="{{ item.id }}.count" type="text">0</button>
				<button class="input update-cart" data-type_of_button="plus_minus" data-id_of_count="{{ item.id }}.plus" data-action="add" data-product="{{ item.id }}" type="button" value="+">+</button>
			</div>
			<button class="btn-buy update-cart"  style="display:block" data-type_of_button="add_to_chart" data-id_of_count="{{ item.id }}.add" data-action="add" data-product="{{ item.id }}">В корзину</button>
		</div>
	</div>
</div>