{% load static %}
<footer class="footer">
	<div class="footer-content">
		<div class="left-block-footer">
			<a href="#"><img src="{% static '/imgs/header/logo.svg' %}" alt="logo" class="logo"></a>
			<span>© 2024</span>
			<div class="navbar-footer">
				<a href="#" class="nav-item-footer">Поддержка</a>
				<a href="#" class="nav-item-footer">Правовая информация</a>
			</div>
		</div>
		<div class="right-block-footer">
			<a href="#" class="email">team4@django.com</a>
			<div class="link-icons">
				<a href="#"><img src="{% static 'imgs/footer/vk.svg' %}" alt="vkontakte" class="link-icons"></a>
				<a href="#"><img src="{% static 'imgs/footer/telegram.svg' %}" alt="telegram" class="link-icons"></a>
				<a href="#"><img src="{% static 'imgs/footer/facebook.svg' %}" alt="facebook" class="link-icons"></a>
			</div>
		</div>
	</div>
</footer>