{% extends "base.html" %}
{% load static %}
{% block content %}
  <link rel="stylesheet" href="{% static '/css/cart/cart.css' %}">
  <main class="cart">
    <div class="cart-content">
      <div class="left-block">
        <div class="cart-titles">
          <h1 class="cart-title">Ваша корзина</h1>
          <p class="count-items">{{ cartitems.count }} товар(ов)</p>
        </div>
        <div class="items">
          {% for cartitem in cartitems %}
            <div class="item">
              <img src="{{ cartitem.item.image.url }}" alt="{{ cartitem.item.name }}" class="item-img">
              <div class="item-info">
                <div class="item-main-info">
                  <h2 class="item-name">{{ cartitem.item.name }}</h2>
                  <h2 class="item-price">{{ cartitem.item.price }}₽</h2>
                </div>
                <h3 class="item-category">{{ cartitem.item.get_category_display }}</h3>
                <div class="counts-item">
                  <div class="counts-item-content">
                    <h3 class="count-text">количество</h3>
                    <div class="buy-item">
                      <div class="count-item" style="display:flex" data-id_of_count="{{ cartitem.item.id }}.plus_minus_div">
                        <button class="input update-cart" data-type_of_button="plus_minus" data-id_of_count="{{ cartitem.item.id }}.minus" data-action="remove" data-product="{{ cartitem.item.id }}" type="button" value="-">-</button>
                        <button class="input" data-id_of_count="{{ cartitem.item.id }}.count" type="text">{{ cartitem.quantity }}</button>
                        <button class="input update-cart" data-type_of_button="plus_minus" data-id_of_count="{{ cartitem.item.id }}.plus" data-action="add" data-product="{{ cartitem.item.id }}" type="button" value="+">+</button>
                      </div>
                      <button class="btn-buy update-cart" style="display:none" data-type_of_button="add_to_chart" data-id_of_count="{{ item.id }}.add" data-action="add" data-product="{{ item.id }}">В корзину</button>
                    </div>
                  </div>
                  <div class="item-icons">
                    <a href=""><img src="{% static '/imgs/cart/heart.png' %}" alt="" class="heart"></a>
                    <a href=""><img src="{% static '/imgs/cart/brush.png' %}" alt="" class="brush"></a>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
      <div class="buy-block">
        <div class="price-info">
          <p class="itog-text">Итого</p>
          <p class="result-price">150₽</p>
        </div>
        <a href="{% url 'cart:checkout' %}" class="btn-place-order">Оформить заказ</a>
      </div>
    </div>
  </main>
  <script src="{% static '/js/change_add_to_cart.js' %}"></script>
	<script src="{% static '/js/cart_add_delete.js' %}"></script>
{% endblock %}
