{% extends "base2.html" %}
{% load static %}
{% block content %}
  <link rel="stylesheet" href="{% static '/css/users/signup2.css' %}">
  <body style="background-image: url('{% static '/imgs/users/bg_login.svg' %}')">
    <div class="bg-form">
      <img src="{% static '/imgs/users/logo.svg' %}" alt="logo" class="logo">
      <h1 class="title">Регистрация</h1>
      <form method="post" action="" class="form">
        {% csrf_token %}
        {% include "includes/form.html" %}
        <button type="submit" class="btn-signup">Зарегистрироваться</button>
      </form>
      <a href="{% url 'users:login' %}" class="link">Уже есть аккаунт?</a>
    </div>
  </body>
  <script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
  <script src="{% static 'js/signup2.js' %}"></script>
{% endblock %}