/* CATALOG */

.catalog {
    width: 100%;
}

a {
    text-decoration: none;
    color: #000000;
}

.catalog-content {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 1720px;
    justify-content: center;
    align-items: center;
}

.catalog-title {
    font-size: 27px;
    font-weight: 600;
    margin-bottom: 31px;
    margin-top: 30px;
}

.choices {
    width: 637px;
    height: 44px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 56px;
}

.choice-item {
    width: 136px;
    height: 44px;
    border-radius: 20px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #000000;
    font-size: 24px;
    font-weight: 500;
    border: 1px solid #B7A1A1;
    transition: .3s;
}

.choice-item:hover {
    background-color: #B7A1A1;
}

/* CARDS */

.cards {
    width: 1700px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 20px;
}

.card {
    width: 367px;
    height: 432px;
    background-color: #F8F5F5;
    border-radius: 10px;
    border: 1px solid black;
    transition: .3s;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}

.item-img {
    width: 343px;
    height: 196px;
    margin-bottom: 15px;
    padding: 12px;
    border-radius: 20px;
}

.item-info {
    padding: 3px 12px 12px 12px;
    margin-bottom: 26px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}


.favorites {
    display: flex;
    justify-content: space-between;
}

.price {
    font-size: 32px;
    font-weight: 500;
}

.name {
    font-size: 24px;
}

.star, .heart{
    width: 23px;
    height: 23px;
    cursor: pointer;
    fill: none;
    stroke: black;
    stroke-width: 1;
}

.heart {
    width: 30px;
    height: 30px;
}

.star.active {
    fill: yellow;
}

.heart.active {
    fill: red;
}

.btn-buy {
    padding: 5px 10px;
    height: 43px;
    border-radius: 20px;
    background-color: #6A3C22;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 18px;
    margin-left: 70px;
}